<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Home</title>
    <link href="../../static/adminResource/css/style.min.css" rel="stylesheet">
    <link href="../../static/adminResource/css/custom.css" rel="stylesheet">

    <!-- Waves Effect -->
    <link href="../../static/adminResource/css/waves.min.css" rel="stylesheet">

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <script type="text/javascript">

        function Checkterms() {
            if (document.getElementById("accept").checked == true) {
                document.getElementById("btnSubmit").style.background = "#304ffe";
                document.getElementById("btnSubmit").disabled = false;
            } else {
                document.getElementById("btnSubmit").style.background = "Grey";
                document.getElementById("btnSubmit").disabled = true;
            }
        }
        function validate_name() {
            var registerName = document.getElementById("registerName");
            var registerName_error = document.getElementById("registerName_error");
            if(registerName.value=="")
				{

					registerName_error.style.display="";
					//a.style.borderColor="red";
					registerName.style.border="1px solid red"

				}
				else
				{
					registerName_error.style.display="none";
					registerName.style.border=""
				}


		}
		function validate_email() {
            var email = document.getElementById("email");
            var email_error = document.getElementById("email_error");
            if(email.value=="")
				{

					email_error.style.display="";
					//a.style.borderColor="red";
					email.style.border="1px solid red"

				}
				else
				{
					email_error.style.display="none";
					email.style.border=""
				}


		}

		function validate_cnfpass() {
            // alert("hi");
            var pass = document.getElementById("pass");
            var cnfpass = document.getElementById("cnfpass");
            var cnfpass_error1 = document.getElementById("cnfpass_error1");
            var cnfpass_error2 = document.getElementById("cnfpass_error2");
            if(cnfpass.value.length<8 || cnfpass.value.length>12){
                // alert("1")
				    cnfpass.setCustomValidity('Please enter password between 8 to 12 in length');
					cnfpass_error1.style.display="";
					//a.style.borderColor="red";
					cnfpass.style.border="1px solid red"

            }
            else
            {
                // alert("2")
                    cnfpass.setCustomValidity('');
					cnfpass_error1.style.display="none";
					cnfpass.style.border=""
                if(cnfpass.value!=pass.value)
				{
				    // alert("3")
				    cnfpass.setCustomValidity('Passowrd must match');
					cnfpass_error2.style.display="";
					//a.style.borderColor="red";
					cnfpass.style.border="1px solid red"

				}
				else
				{
                    cnfpass.setCustomValidity('');
					cnfpass_error2.style.display="none";
					cnfpass.style.border=""
				}
            }




		}
		function validate_pass() {
            var pass = document.getElementById("pass");
            var pass_error = document.getElementById("pass_error");
            // alert(pass.value.length);
            if(pass.value.length<8 || pass.value.length>12)
				{
				    pass.setCustomValidity('Please enter password between 8 to 12 in length');
					pass_error.style.display="";
					//a.style.borderColor="red";
					pass.style.border="1px solid red"

				}
				else
				{
                    pass.setCustomValidity('');
					pass_error.style.display="none";
					pass.style.border=""
				}


		}
		function validate_contact() {
            var contact = document.getElementById("contact");
            var contact_error = document.getElementById("contact_error");
            // alert(contact.value.length);
            if(contact.value.length<8 || contact.value.length>12)
				{
				    contact.setCustomValidity('Please enter valid 10 to 12 digit phone number');
					contact_error.style.display="";
					//a.style.borderColor="red";
					contact.style.border="1px solid red"

				}
				else
				{
                    contact.setCustomValidity('');
					contact_error.style.display="none";
					contact.style.border=""
				}


		}
		function validate1() {
            validate_name()
            validate_email()
            validate_contact()
            validate_pass()
            validate_cnfpass()

        }
	</script>


</head>

<body>

<div id="single-wrapper">
    <form action="/user/insertRegister" class="frm-single" method="post">
        <div class="inside">
            <div class="title"><strong>OCD</strong></div>
            <!-- /.title -->
            <div class="frm-title">Register</div>
            <!-- /.frm-title -->
            <div class="frm-input"><input class="frm-inp" name="registerName" placeholder="Name" required type="text" id="registerName"><i
                    class="fa fa-user frm-ico" onkeypress="validate_name()"></i>
                <span style="display:none;color:red" id="registerName_error" >Please enter name</span>
            </div>
            <!-- /.frm-input -->
            <div class="form-group">
                Gender: &nbsp;
                <input id="gender1" name="registerGender" required type="radio" value="Male">
                <label for="gender1">Male &nbsp;</label>
                <input id="gender2" name="registerGender" required type="radio" value="Female">
                <label for="gender2">Female &nbsp;</label>
                <input id="gender3" name="registerGender" required type="radio" value="Other">
                <label for="gender3">Other &nbsp;</label>
            </div>
            <div class="frm-input"><input class="frm-inp" name="loginUsername" placeholder="Email"
                                          pattern="^[^@]+@[^@]+\.[^@]+$" required
                                          type="email"
                                          id="email"
                                          onkeypress="validate_email()"
            ><i
                    class="fa fa-envelope frm-ico"></i>
            <span style="display:none;color:red" id="email_error" >Please enter email</span>
            </div>

            <div class="frm-input"><input type="password" placeholder="Password" class="frm-inp" id="pass"
                                            onfocusout="validate_pass()"

                                          required
                                            >

<!-- oninvalid="this.setCustomValidity('Please enter password between 8 to 12 in length')"-->
                                            <i class="fa fa-lock frm-ico"></i>
            <span style="display:none;color:red" id="pass_error" >Please enter password between 8 to 12 in length</span>
            </div>

            <div class="frm-input"><input type="password" placeholder="Confirm Password" class="frm-inp"
                                           id="cnfpass"
                                          onfocusout="validate_cnfpass()"

                                          required data-match="pass"


                                          >
<!--                 oninvalid="this.setCustomValidity('Please enter password between 8 to 12 in length')"-->

                <i class="fa fa-lock frm-ico"></i>
                <span style="display:none;color:red" id="cnfpass_error1" >Please enter password between 8 to 12 in length</span>
                <span style="display:none;color:red" id="cnfpass_error2" >Password must match</span>
            </div>

            <div class="frm-input"><input class="frm-inp" name="registerNumber" pattern="[0-9]{10,12}"
                                          placeholder="Contact" required type="text" id="contact"
                                          onkeypress="validate_contact()"
                                         >
<!--                 oninvalid="this.setCustomValidity('Please enter valid 10 to 12 digit phone number')"-->
                <i class="fa fa-user frm-ico"></i>
            <span style="display:none;color:red" id="contact_error" >Please enter valid 10 to 12 digit phone number</span>
            </div>

            <div class="clearfix margin-bottom-20">
                <div class="checkbox primary"><input id="accept" onclick="Checkterms()" type="checkbox"><label
                        for="accept">I accept Terms and
                    Conditions</label></div>
                <!-- /.checkbox -->
            </div>
            <!-- /.clearfix -->
            <button class="frm-submit" disabled onclick="validate1()" id="btnSubmit" style="background: Grey;" type="submit">Register<i
                    class="fa fa-arrow-circle-right"></i></button>
            <!-- /.row -->
            <a class="a-link" href="/"><i class="fa fa-sign-in"></i>Already have account? Login.</a>
            <div class="frm-footer">OCD © 2020.</div>
            <!-- /.footer -->
        </div>
        <!-- .inside -->
    </form>
    <!-- /.frm-single -->
</div><!--/#single-wrapper -->


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="adminResource/js/html5shiv.min.js"></script>
<script src="adminResource/js/respond.min.js"></script>
<![endif]-->
<!--

================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/adminResource/js/jquery.min.js"></script>
<script src="../../static/adminResource/js/modernizr.min.js"></script>
<script src="../../static/adminResource/js/bootstrap.min.js"></script>
<script src="../../static/adminResource/js/nprogress.js"></script>
<script src="../../static/adminResource/js/waves.min.js"></script>

<script src="../../static/adminResource/js/main.min.js"></script>
<script src="../../static/adminResource/js/mycommon.js"></script>
</body>
</html>